* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: rgb(84, 84, 84);
}

#content {
  background-color: lightseagreen;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
