* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: rgb(84, 84, 84);
}

nav {
  max-width: 800px;
  margin: 0 auto;

  ul {
    display: flex;
    list-style-type: none;

    li {
      flex: 1;

      button {
        width: 100%;
        height: 3rem;
        font-size: 1.4rem;
        border-radius: 0;
        border: none;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}

#content {
  background-color: lightseagreen;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
